<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">News</button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">Entertainment</button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">Fashion</button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">Lifestyle</button>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">Books</button>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
          <a class="navbar-brand" href="#" id="logo">
            <img alt="Brand" src="http://www.sexualityresource.com/wp-content/uploads/2015/11/bustle-2-logo.jpg">
          </a>
      </li>
    </div>
  </div>
</nav>





<header class="jumbotron">
  <h1>Bustle</h1>
</header>


<div class="container">
  {{outlet}}
</div>


<hr>
